<View>
    <Header value="Abstract:"/>
    <Text name="7"
          value="(Please select words/phrases in the abstract if you think these words are qualified keywords of the abstract/article.)"
          granularity="word"/>
    <Labels name="label" toName="text">
        <Label value="keyword" background="green"/>
    </Labels>
    <Text name="text" value="$abstract" granularity="word"/>
    <Header value="Model-Generated Keywords:"/>
    <Text name="8"
          value="(If you think some of the following words are not qualified keywords of this abstract/article, please pick them out.)"
          granularity="word"/>
    <Labels name="label2" toName="keywords">
        <Label value="Unqualified keyword (to remove)" background="red"/>
    </Labels>
    <Text name="keywords" value="$Keywords" granularity="word"/>
    <Header value="Model-Predicted Category:"/>
    <Text name="5" value="$cat1" granularity="word"/>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Do you agree with the predicted category?"/>
        <Text name="9"
              value="Please choose [Not BIO] if you think this abstract is NOT in the field of Biology."
              granularity="word"/>
        <Choices name="sentiment" toName="text" choice="single" showInLine="true">
            <Choice value="Agree"/>
            <Choice value="Disagree"/>
            <Choice value="Not BIO"/>
        </Choices>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="If disagree, which category do you think this abstract should belong to?"/>
        <Text name="6" value="If agree, please do NOT tick any box below."/>
        <Choices name="sentiment2" toName="text" choice="single" showInLine="true">

            <Choice value="Aerobiology"/>
            <Choice value="Anatomy"/>
            <Choice value="Biochemistry"/>
            <Choice value="Bioinformatics"/>
            <Choice value="Biophysics"/>
            <Choice value="Biotechnology"/>
            <Choice value="Botany"/>
            <Choice value="Cell_biology"/>
            <Choice value="Chronobiology"/>
            <Choice value="Computational_biology"/>
            <Choice value="Cryobiology"/>
            <Choice value="Developmental_biology"/>
            <Choice value="Ecology"/>
            <Choice value="Endocrinology"/>
            <Choice value="Evolutionary_biology"/>
            <Choice value="Genetics"/>
            <Choice value="Histology"/>
            <Choice value="Human_biology"/>
            <Choice value="Immunology"/>
            <Choice value="Limnology"/>
            <Choice value="Linnaean_taxonomy"/>
            <Choice value="Marine_biology"/>
            <Choice value="Mathematical_biology"/>
            <Choice value="Microbiology"/>
            <Choice value="Molecular_biology"/>
            <Choice value="Mycology"/>
            <Choice value="Neuroscience"/>
            <Choice value="Nutrition"/>
            <Choice value="Paleobiology"/>
            <Choice value="Parasitology"/>
            <Choice value="Pathology"/>
            <Choice value="Physiology"/>
            <Choice value="Structural_Biology"/>
            <Choice value="Systematics"/>
            <Choice value="Systems_biology"/>
            <Choice value="Virology"/>
            <Choice value="Xenobiology"/>
            <Choice value="Zoology"/>
        </Choices>
    </View>
</View>