<View>
    <Header value="Abstract:"/>
    <Text name="7"
          value="(Please select words/phrases in the abstract if you think these words are qualified keywords of the abstract/article.)"
          granularity="word"/>
    <Labels name="label" toName="text">
        <Label value="keyword" background="green"/>
    </Labels>
    <Text name="text" value="$abstract" granularity="word"/>
    <Header value="Model-Generated Keywords:"/>
    <Text name="8"
          value="(If you think some of the following words are not qualified keywords of this abstract/article, please pick them out.)"
          granularity="word"/>
    <Labels name="label2" toName="keywords">
        <Label value="Unqualified keyword (to remove)" background="red"/>
    </Labels>
    <Text name="keywords" value="$Keywords" granularity="word"/>
    <Header value="Model-Predicted Category:"/>
    <Text name="5" value="$cat1" granularity="word"/>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Do you agree with the predicted category?"/>
        <Text name="9"
              value="Please choose [Not CS] if you think this abstract is NOT in the field of Computer Science."
              granularity="word"/>
        <Choices name="sentiment" toName="text" choice="single" showInLine="true">
            <Choice value="Agree"/>
            <Choice value="Disagree"/>
            <Choice value="Not CS"/>
        </Choices>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="If disagree, which category do you think this abstract should belong to?"/>
        <Text name="6" value="If agree, please do NOT tick any box below."/>
        <Choices name="sentiment2" toName="text" choice="single" showInLine="true">
            <Choice value="Applied computing"/>
            <Choice value="Computer systems organization"/>
            <Choice value="Computing methodologies"/>
            <Choice value="General and reference"/>
            <Choice value="Hardware"/>
            <Choice value="Human-centered computing"/>
            <Choice value="Information systems"/>
            <Choice value="Mathematics of computing"/>
            <Choice value="Networks"/>
            <Choice value="Security and privacy"/>
            <Choice value="Social and professional topics"/>
            <Choice value="Software and its engineering"/>
            <Choice value="Theory of computation"/>
        </Choices>
    </View>
</View>