<View>
    <Header value="Abstract:"/>
    <Text name="7"
          value="(Please select words/phrases in the abstract if you think these words are qualified keywords of the abstract/article.)"
          granularity="word"/>
    <Labels name="label" toName="text">
        <Label value="keyword" background="green"/>
    </Labels>
    <Text name="text" value="$abstract" granularity="word"/>
    <Header value="Model-Generated Keywords:"/>
    <Text name="8"
          value="(If you think some of the following words are not qualified keywords of this abstract/article, please pick them out.)"
          granularity="word"/>
    <Labels name="label2" toName="keywords">
        <Label value="Unqualified keyword (to remove)" background="red"/>
    </Labels>
    <Text name="keywords" value="$Keywords" granularity="word"/>
    <Header value="Model-Predicted Category:"/>
    <Text name="5" value="$cat1" granularity="word"/>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Do you agree with the predicted category?"/>
        <Text name="9" value="Please choose [Not ECON] if you think this abstract is NOT in the field of economics."
              granularity="word"/>
        <Choices name="sentiment" toName="text" choice="single" showInLine="true">
            <Choice value="Agree"/>
            <Choice value="Disagree"/>
            <Choice value="Not ECON"/>
        </Choices>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="If disagree, which category do you think this abstract should belong to?"/>
        <Text name="6" value="If agree, please do NOT tick any box below."/>
        <Choices name="sentiment2" toName="text" choice="single" showInLine="true">
            <Choice value="Agricultural and Natural Resource Economics; Environmental and Ecological Economics"/>
            <Choice value="International Economics"/>
            <Choice value="Business Administration and Business Economics; Marketing; Accounting; Personnel Economics"/>
            <Choice value="Industrial Organization"/>
            <Choice value="Economic Systems"/>
            <Choice value="Mathematical and Quantitative Methods"/>
            <Choice value="History of Economic Thought, Methodology, and Heterodox Approaches"/>
            <Choice value="Macroeconomics and Monetary Economics"/>
            <Choice value="Public Economics"/>
            <Choice value="Labor and Demographic Economics"/>
            <Choice value="Law and Economics"/>
            <Choice value="Microeconomics"/>
            <Choice value="Economic Development, Innovation, Technological Change, and Growth"/>
            <Choice value="General Economics and Teaching"/>
            <Choice value="Financial Economics"/>
            <Choice value="Health, Education, and Welfare"/>
            <Choice value="Economic History"/>
            <Choice value="Political Economy and Comparative Economic Systems"/>
            <Choice value="Urban, Rural, Regional, Real Estate, and Transportation Economics"/>
            <Choice value="Financial Economics"/>
            <Choice value="Health, Education, and Welfare"/>
            <Choice value="Economic History"/>
            <Choice value="Political Economy and Comparative Economic Systems"/>
            <Choice value="Urban, Rural, Regional, Real Estate, and Transportation Economics"/>
            <Choice value="Other Special Topics"/>
        </Choices>
    </View>
</View>