<View>
    <Header value="Abstract:"/>
    <Text name="7"
          value="(Please select words/phrases in the abstract if you think these words are qualified keywords of the abstract/article.)"
          granularity="word"/>
    <Labels name="label" toName="text">
        <Label value="keyword" background="green"/>
    </Labels>
    <Text name="text" value="$abstract" granularity="word"/>
    <Header value="Model-Generated Keywords:"/>
    <Text name="8"
          value="(If you think some of the following words are not qualified keywords of this abstract/article, please pick them out.)"
          granularity="word"/>
    <Labels name="label2" toName="keywords">
        <Label value="Unqualified keyword (to remove)" background="red"/>
    </Labels>
    <Text name="keywords" value="$Keywords" granularity="word"/>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Do you think this abstract belongs to the field of Economics?"/>
        <Choices name="question1" toName="text" choice="single" showInLine="true">
            <Choice value="I do NOT think this abstract belongs to the field of Economics"/>
        </Choices>
        <Text name="9"
              value="If you select the above option, please DON'T answer the following questions. You can submit the annotation right now."/>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Model-Predicted Category 1"/>
        <Text name="cat1_0" value="$cat1_0"
              granularity="word"/>
        <Header value="Do you agree with the predicted category 1?"/>
        <Choices name="question2" toName="text" choice="single" showInLine="true">
            <Choice value="Agree"/>
            <Choice value="Disagree"/>
        </Choices>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Model-Predicted Category 2"/>
        <Text name="cat1_1" value="$cat1_1" granularity="word"/>
        <Header value="Do you agree with the predicted category 2?"/>
        <Choices name="question3" toName="text" choice="single" showInLine="true">
            <Choice value="Agree"/>
            <Choice value="Disagree"/>
        </Choices>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="Model-Predicted Category 3"/>
        <Text name="cat1_2" value="$cat1_2"
              granularity="word"/>
        <Header value="Do you agree with the predicted category 3?"/>
        <Text name="10" value="If [Model-Predicted Category 3] is empty, you do not have to answer this question."/>
        <Choices name="question4" toName="text" choice="single" showInLine="true">
            <Choice value="Agree"/>
            <Choice value="Disagree"/>
        </Choices>
    </View>

    <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
        <Header value="What OTHER categories do you think this article belongs to?"/>
        <Text name="11" value="Please do NOT select categories that have already appeared in the above questions."/>
        <Choices name="question5" toName="text" choice="multiple" showInLine="true">
            <Choice value="Agricultural and Natural Resource Economics; Environmental and Ecological Economics"/>
            <Choice value="International Economics"/>
            <Choice value="Business Administration and Business Economics; Marketing; Accounting; Personnel Economics"/>
            <Choice value="Industrial Organization"/>
            <Choice value="Economic Systems"/>
            <Choice value="Mathematical and Quantitative Methods"/>
            <Choice value="History of Economic Thought, Methodology, and Heterodox Approaches"/>
            <Choice value="Macroeconomics and Monetary Economics"/>
            <Choice value="Public Economics"/>
            <Choice value="Labor and Demographic Economics"/>
            <Choice value="Law and Economics"/>
            <Choice value="Microeconomics"/>
            <Choice value="Economic Development, Innovation, Technological Change, and Growth"/>
            <Choice value="General Economics and Teaching"/>
            <Choice value="Financial Economics"/>
            <Choice value="Health, Education, and Welfare"/>
            <Choice value="Economic History"/>
            <Choice value="Political Economy and Comparative Economic Systems"/>
            <Choice value="Urban, Rural, Regional, Real Estate, and Transportation Economics"/>
            <Choice value="Financial Economics"/>
            <Choice value="Health, Education, and Welfare"/>
            <Choice value="Economic History"/>
            <Choice value="Political Economy and Comparative Economic Systems"/>
            <Choice value="Urban, Rural, Regional, Real Estate, and Transportation Economics"/>
            <Choice value="Other Special Topics"/>
        </Choices>
    </View>
</View>